# LLM in Retail Industry   

Application of LLM to the retail industry.    

Based on: https://www.youtube.com/watch?v=4wtrl4hnPT8&t=1632s

## Importing Libraries

In [76]:
from langchain_community.utilities import SQLDatabase
from langchain_openai.chat_models import ChatOpenAI
from langchain_experimental.sql import SQLDatabaseChain
from langchain.prompts import PromptTemplate, FewShotPromptTemplate, SemanticSimilarityExampleSelector
from langchain_openai.embeddings import OpenAIEmbeddings
from langchain.vectorstores import Chroma
from langchain.chains.sql_database.prompt import _mysql_prompt, PROMPT_SUFFIX
from langchain.smith import RunEvalConfig

from secret_key import openai_key, langsmith_key 

from langchain.callbacks import LangChainTracer
from langsmith import Client
from langchain.smith import run_on_dataset


client= Client(
    api_key=langsmith_key,
    api_url='https://api.smith.langchain.com'
)

callbacks = [LangChainTracer(
    project_name='retail_industry',
    client=client
)]

## Chain Creation   

Database connection: https://stackoverflow.com/questions/77573418/cant-connect-to-mysql-server-on-host-while-using-langchain-sqldatabase

In [151]:
# Loading the Database
database = SQLDatabase.from_uri('mysql+pymysql://root:root@localhost:3306/atliq_tshirts')

# LLM definition  
llm = ChatOpenAI(temperature=0, openai_api_key=openai_key, model='gpt-3.5-turbo-1106')   

# Prompt 
prompt = PromptTemplate(
    input_variables=['input', 'table_info', 'top_k'],
    template='''You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
    Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
    Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
    Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
    Pay attention to use CURDATE() function to get the current date, if the question involves "today".
    
    Use the following format:
    Question: Question here
    SQLQuery: SQL Query to run
    SQLResult: Result of the SQLQuery
    Answer: In this case return an answer in a human chat format
    
    Only use the following tables:
    {table_info}
    
    Question: {input}'''
)

# Query chain 
sql_chain = SQLDatabaseChain.from_llm(llm=llm, db=database, prompt=prompt, callbacks=callbacks)

## Testing

In [53]:
question = '''How many white Levi's t-shirts are left?''' 

answer = sql_chain.invoke(question)

In [87]:
answer

{'query': "How many white Levi's t-shirts are left?",
 'result': "There are 36 white Levi's t-shirts left."}

Some simple tests were right, but more complex have been wrong. Few shot can help in this case.

## Few Shot Learning

Few shot creation

In [3]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "There are 76 XS white Nike t-shirts left"},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': "The total price is 28394"},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """select sum((price-(price*(pct_discount/100)))*stock_quantity) as total_revenue
                    from(
                    select t_shirt_id, price, stock_quantity, coalesce(pct_discount, 0) as pct_discount
                    from t_shirts
                    left join discounts using(t_shirt_id)
                    where brand = 'Levi') sbq  
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': "Our revenue will be 30928.6"} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : "We will have an amount of 32747"},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "We have 278"
     },
    {'Question': "how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?",
     'SQLQuery' : """select sum((price-(price*(pct_discount/100)))*stock_quantity) as total_revenue
                    from(
                    select t_shirt_id, price, stock_quantity, coalesce(pct_discount, 0) as pct_discount
                    from t_shirts
                    left join discounts using(t_shirt_id)
                    where brand = 'Nike' and size = 'L') sbq
 """,
     'SQLResult': "Result of the SQL query",
     'Answer' : "The following amount: 10001.4" 
    }
]

Storing

In [6]:
embedder = OpenAIEmbeddings(openai_api_key=openai_key)

In [118]:
# Creating a big list with the elements to embed
elements = [' '.join(x.values()) for x in few_shots] 

# Creating the vector store 
vector_db = Chroma.from_texts(elements, embedding=embedder, metadatas=few_shots, persist_directory='./retail_vector_db')

Fewshot creation

In [121]:
# Example prompt (the prompt's corpus)
example_prompt = PromptTemplate(
    input_variables=['Question', 'SQLQuery', 'SQLResult', 'Answer'], 
    template='''
Question: {Question},
SQLQuery: {SQLQuery},
SQLResult: {SQLResult}, 
Answer: {Answer} 
'''
) 

# MySQL prompt (the prompt's prefix)
mysql_prompt = '''  
You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here. Use a chatting format to reply to the user
'''

Semantic similarity documentation:  

https://api.python.langchain.com/en/latest/_modules/langchain_core/example_selectors/semantic_similarity.html#

In [122]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vector_db,
    k=2
)

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=['input', 'table_info', 'top_k']
)

In [156]:
sql_chain = SQLDatabaseChain.from_llm(llm=llm, db=database, callbacks=callbacks, prompt=few_shot_prompt) 

answer = sql_chain.invoke(question)

In [157]:
print(answer)

{'query': "How many white Levi's t-shirts are left?", 'result': "We have 278 white Levi's t-shirts left."}

## Testing with LangSmith

In [69]:
# Creating the dataset
dataset = client.create_dataset(dataset_name='KV Dataset', description='KV dataset for testing queries')

In [72]:
# Creating the example
client.create_example(
  inputs={
    "input": "How much is the prize of the the inventory for all the small t-shirts?"
  },
  outputs = {
    "query": "How much is the price of the the inventory for all the small t-shirts?",
    "result": "The total price will be 28394",
  },
  dataset_id=dataset.id
)

Example(dataset_id=UUID('7c50dc1a-5b9e-4db4-9ea1-51d48dfd4b15'), inputs={'input': 'How much is the prize of the the inventory for all the small t-shirts?'}, outputs={'query': 'How much is the price of the the inventory for all the small t-shirts?', 'result': 'The total price will be 28394'}, id=UUID('0ee2babf-482c-404d-a9be-47ef5c5c1458'), created_at=datetime.datetime(2024, 1, 28, 16, 17, 35, 881254, tzinfo=datetime.timezone.utc), modified_at=datetime.datetime(2024, 1, 28, 16, 17, 35, 881254, tzinfo=datetime.timezone.utc), runs=[], source_run_id=None)

In [100]:
# Creating the evaluation configuration
evaluation_config = RunEvalConfig(
    evaluators=[
        RunEvalConfig.LabeledScoreString(
            {
                "accuracy": """
Score 0: The answer does not provide the correct amount stated in the output
Score 1: The answer has the right amount
"""
            },
            llm=llm,
            reference_key='result'
        )
    ]
)

Evaluation

In [98]:
chain_results = run_on_dataset(
    dataset_name=dataset.name,
    llm_or_chain_factory=sql_chain,
    evaluation=evaluation_config,
    verbose=True,
    client=client,
    project_name='retail_industry_test_2', 
    project_metadata={'model':'gpt-3.5-turbo-1106'}
)

View the evaluation results for project 'retail_industry_test_2' at:
https://smith.langchain.com/o/e964025d-b2f0-5919-b682-ed1446ec6a14/datasets/7c50dc1a-5b9e-4db4-9ea1-51d48dfd4b15/compare?selectedSessions=54567666-4d33-40f1-8e6d-05d4c6c80080

View all tests for Dataset KV Dataset at:
https://smith.langchain.com/o/e964025d-b2f0-5919-b682-ed1446ec6a14/datasets/7c50dc1a-5b9e-4db4-9ea1-51d48dfd4b15
[------------------------------------------------->] 1/1

,feedback.score_string:accuracy,error,execution_time,run_id
count,1.0,0,1.000000,1
unique,NaN,0,NaN,1
top,NaN,NaN,NaN,fe43551d-69e3-4ec9-87bf-877ba1969c10
freq,NaN,NaN,NaN,1
mean,10.0,NaN,13.553384,NaN
std,NaN,NaN,NaN,NaN
min,10.0,NaN,13.553384,NaN
25%,10.0,NaN,13.553384,NaN
50%,10.0,NaN,13.553384,NaN
75%,10.0,NaN,13.553384,NaN
max,10.0,NaN,13.553384,NaN